BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
TabWidth: 2

# Allman por defecto
# Custom para que las lineas 13  y siguientes tengan efecto
BreakBeforeBraces: Allman 
AllowShortFunctionsOnASingleLine: Inline  # None



  #IndentCaseLabels: false
  #ColumnLimit: 80
  #SortIncludes: false
  #BraceWrapping:
  #AfterFunction: false
  #AfterControlStatement: false
  #AfterClass: false
  #Cpp11BracedListStyle: false

# Force pointers to the type for C++.
#DerivePointerAlignment: false
#PointerAlignment: Left

